[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-swagger = "*"
marshmallow-sqlalchemy = "*"
flask-swagger-ui = "*"

[dev-packages]
requests = "*"
ipdb = "*"

[requires]
python_version = "3.11"
